@font-face {
  font-family: 'altima';
  src: url('assets/fonts/Altima.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chronotype';
  src: url('assets/fonts/ChronoType.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body,
#root {
  background-color: #101417;
  color: #f6dbc4;
  overflow: hidden;
  position: fixed;
  width: 100%;
}